body {
  margin-top: 10px;
  background-color: white;
  font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

#header_img {
  height: 80px;
  width: auto;
  margin-bottom: 20px;
}

#header_txt {
  display: inline-block;
  font-weight: bold;
}

#header_hr {
  margin: 0 0 0 0;
}

.social_icons {
  margin-left: 10px;
}

#git_logo, #git_logo:link, #git_logo:hover, #git_logo:visited {
  color: black;
}

#facebook_logo, #facebook_logo:link, #facebook_logo:hover, #facebook_logo:visited {
  color: #2D4486;
}

#linkedin_logo, #linkedin_logo:link, #linkedin_logo:hover, #linkedin_logo:visited {
  color: #1871AE;
}

.react_item_container {
  border: 4px solid black;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 10px;
}

.rate-box {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 10px;
  padding: 5px;
  border: 4px solid white;
}

.rate-box:hover {
  cursor: pointer;
}

.active {
  border: 4px solid #4DB3D6;
  border-radius: 7px;
}

#list_item_input {
  box-shadow: none;
  border-color: #BCBCBC;
  background-color: white;
}
#list_item_input:focus {
  border: 2px solid #4DB3D6
}

#exchange_input {
  box-shadow: none;
  border-color: #BCBCBC;
  background-color: white;
}
#exchange_input:focus {
  border: 2px solid #4DB3D6
}
