body {
  margin-top: 10px;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Slabo 27px', serif;
}

p {
  font-family: 'Patua One', cursive;
}

#header_img {
  height: 80px;
  width: auto;
  margin-bottom: 20px;
}

#header_txt {
  display: inline-block;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
}

#header_hr {
  margin: 0 0 0 0;
}

.social_icons {
  margin-left: 10px;
}

#git_logo, #git_logo:link, #git_logo:hover, #git_logo:visited {
  color: black;
}

#facebook_logo, #facebook_logo:link, #facebook_logo:hover, #facebook_logo:visited {
  color: #2D4486;
}

#linkedin_logo, #linkedin_logo:link, #linkedin_logo:hover, #linkedin_logo:visited {
  color: #1871AE;
}
